.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1320px;
}

#display-container {
  background-color: #ffffff;
  padding: 3.1em 1.8em;
  max-width: 37.5em;
  margin: 0 auto;
  border-radius: 0.6em;
}
.question {
  margin-bottom: 1.25em;
  font-weight: 600;
}
.option-div {
  font-size: 0.9em;
  width: 100%;
  padding: 1em;
  margin: 0.3em 0;
  text-align: left;
  outline: none;
  background: transparent;
  border: 1px solid #c0bfd2;
  border-radius: 0.3em;
}

.option-div:disabled {
  color: #000000;
  cursor: not-allowed;
}